.mainWrapper {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 60px;
}

.StepperConatiner {
  width: 100%;
  background: #fff 0 0 no-repeat padding-box!important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 20px;
}

.StepperHeading {
  padding: 0px 0px 40px 30px;
  font-size: 20px;
  color: #212121;
  opacity: 1;
}

.StepperSubHeading {
  opacity: 0.37;
}

@media (max-width: 650px) {
  .StepperConatiner {
    padding: 10px;
  }

  .StepperHeading {
    padding: 0px 0px 20px 10px;
  }
}